@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar {
  display: none;
}

@media (max-width:640px) {
  .contacts{
    width: 90%;
    position: absolute;
    bottom: 0;
    top: 0;
    transition: .5s;
    z-index: 10;
  }
  .chat-screen{
    width: 100%;
  }
  .mobile-navbar{
    display: flex;
  }
}